<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lp.facefinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/face_finder"
        android:label="@string/app_name"
  		>
        <activity
            android:name="com.lp.facefinder.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageGalleryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.lp.facefinder.ImageGalleryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FaceDetectionActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="com.lp.facefinder.FaceDetectionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
        </application>
        
</manifest>